# Collections 2

## Slices

### Introduction

Slice: you want some of the items, but not just a single one and not all of them at once.

In some languages, you'll see these called segments or substrings.

A slice put as simply as possible is a new list or string that's made from part of another list or string.  If you make a slice from a list, you'll get a list.  If you make a slice from a string, you'll get a string.

In [1]:
favorites = ['raindrops', 'kittens', 'kettles', 'mittens', 'packages', 'ponies', 'strudels']

Syntax: <list_or_stringname>[<first_element>:<last_element+1>]

In [2]:
favorites[2:5]

['kettles', 'mittens', 'packages']

You can use any number > the length to get the last value:

In [3]:
favorites[5:7]

['ponies', 'strudels']

In [4]:
favorites[5:999]

['ponies', 'strudels']

To get the 1st value:

In [5]:
favorites[0:1]

['raindrops']

You can leave out the 1st element:

In [6]:
favorites[:2]

['raindrops', 'kittens']

Or the 2nd:

In [7]:
favorites[5:]

['ponies', 'strudels']

Or both, which just returns the list:

In [8]:
favorites[:]

['raindrops',
 'kittens',
 'kettles',
 'mittens',
 'packages',
 'ponies',
 'strudels']

In [9]:
messy_list = [4, 2, 1, 3, 5]
messy_list.sort()
messy_list

[1, 2, 3, 4, 5]

In [10]:
messy_list2 = [4, 2, 1, 3, 5]
clean_list = messy_list2[:]
clean_list.sort()
clean_list

[1, 2, 3, 4, 5]

In [11]:
messy_list2

[4, 2, 1, 3, 5]

#### Code Challenge

In [12]:
favorite_things = ['raindrops on roses', 'whiskers on kittens', 'bright copper kettles',
                   'warm woolen mittens', 'bright paper packages tied up with string',
                   'cream colored ponies', 'crisp apple strudels']

In [13]:
slice1 = favorite_things[1:4]
slice1

['whiskers on kittens', 'bright copper kettles', 'warm woolen mittens']

In [14]:
slice2 = favorite_things[5:]
slice2

['cream colored ponies', 'crisp apple strudels']

In [15]:
sorted_things = favorite_things[:]
sorted_things.sort()
sorted_things

['bright copper kettles',
 'bright paper packages tied up with string',
 'cream colored ponies',
 'crisp apple strudels',
 'raindrops on roses',
 'warm woolen mittens',
 'whiskers on kittens']

### Slicing with a Step

Step: slices that don't include everything from the first index to the second.

Range function: a handy way to generate a bunch of numbers.  It gives you back a special type of data though called a range object.

Range objects can be sliced but they're not very transparent, they don't look and act exactly like lists.

Wrap the list in order to make it a list like we're all used to.

In [16]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Format: object_name[start:stop:step]

In [17]:
numbers[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Default step: 1

In [18]:
numbers[2::2]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
"Oklahoma"[::2]

'Olhm'

You can also use negative values.

In [20]:
numbers[-2:]

[18, 19]

In [21]:
numbers[-2:-5:-1]

[18, 17, 16]

In [22]:
numbers[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Don't underestimate how handy negative indices and steps are.  Being able to move backwards through a string or a list, especially without having to know its length is a very useful tool, and generating a reverse copy of a list using a -1 step is amazingly useful.

#### Code Challenge

In [23]:
def first_4(item):
    return item[0:4]

In [24]:
str1 = "temperature"
new_item = first_4(str1)
new_item

'temp'

In [25]:
num_array = [2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
new_item2 = first_4(num_array)
new_item2

[2, 3, 5, 8]

In [26]:
def first_and_last_4(item):
    item1 = first_4(item)
    item1.extend(item[-4:])
    return item1

In [27]:
new_item3 = first_and_last_4(num_array)
new_item3

[2, 3, 5, 8, 55, 89, 144, 233]

In [28]:
def odds(item):
    return item[1::2]

In [29]:
new_item4 = odds(num_array)
new_item4

[3, 8, 21, 55, 144]

In [30]:
def reverse_evens(item):
#     if len(item) % 2 == 1:
#         return item[-1::-2]
#     return item[-2::-2]
    rem = len(item) % 2 - 2
    return item[rem::-2]

In [31]:
num_array2 = [1, 2, 3, 4, 5, 6, 7]
new_item5 = reverse_evens(num_array2)
new_item5

[7, 5, 3, 1]

### Deleting or Replacing Slices

In [32]:
rainbow = ["red", "orange", "green", "yellow", "blue", "black", "white", "aqua", "purple", "pink"]
rainbow

['red',
 'orange',
 'green',
 'yellow',
 'blue',
 'black',
 'white',
 'aqua',
 'purple',
 'pink']

In [33]:
del rainbow[5]
rainbow

['red', 'orange', 'green', 'yellow', 'blue', 'white', 'aqua', 'purple', 'pink']

In [34]:
del rainbow[5:8]
rainbow

['red', 'orange', 'green', 'yellow', 'blue', 'pink']

In [35]:
rainbow[2:4] = ["yellow", "green"]
rainbow

['red', 'orange', 'yellow', 'green', 'blue', 'pink']

In [36]:
rainbow[4:5] = ["blue", "indigo"]
rainbow

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'pink']

In [37]:
rainbow[-1:] = ['violet']
rainbow

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [38]:
rainbow[-1:] = "violet"
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'blue',
 'indigo',
 'v',
 'i',
 'o',
 'l',
 'e',
 't']

In [39]:
rainbow[-6:] = ["".join(rainbow[-6:])]
rainbow

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

#### Quiz
* When replacing a slice with another iterable, they **DO NOT** have to be the same size.

#### Code Challenge

In [40]:
def sillycase(item):
    len_1 = len(item) // 2
    str_1 = item[:len_1].lower()
    str_2 = item[len_1:].upper()
    return str_1 + str_2

In [41]:
str2 = "treehouse"
str3 = sillycase(str2)
str3

'treeHOUSE'

## Dictionaries

### Introduction

Dictionary (dict): collection associating name and data (key and value)

In [42]:
course = { "title": "Python Collections" }
course

{'title': 'Python Collections'}

Dictionaries aren't sorted, so you can't use an index.

In [43]:
course["title"]

'Python Collections'

Alternatively, use **dict**.

In [44]:
dict([["name", "Robert"]])

{'name': 'Robert'}

In [45]:
course = { "title": "Python Collections", "teacher": "Kenneth Love", "videos": 22 }
course

{'title': 'Python Collections', 'teacher': 'Kenneth Love', 'videos': 22}

In [46]:
course["teacher"]

'Kenneth Love'

In [47]:
course = { "title": "Python Collections", "teacher": { "first_name": "Kenneth", "last_name": "Love" }, "videos": 22 }
course

{'title': 'Python Collections',
 'teacher': {'first_name': 'Kenneth', 'last_name': 'Love'},
 'videos': 22}

In [48]:
course["teacher"]

{'first_name': 'Kenneth', 'last_name': 'Love'}

In [49]:
course["teacher"]["first_name"]

'Kenneth'

#### Code Challenge

In [50]:
player = { "name": "Robert", "remaining_lives": 3, "levels": [1, 2, 3, 4], "items": { "coins": 5 } }
player

{'name': 'Robert',
 'remaining_lives': 3,
 'levels': [1, 2, 3, 4],
 'items': {'coins': 5}}

### Key Management

In [51]:
robert = { "first_name": "Robert", "job": "Database Engineer" }
robert

{'first_name': 'Robert', 'job': 'Database Engineer'}

In [52]:
robert["last_name"] = "Glover"
robert

{'first_name': 'Robert', 'job': 'Database Engineer', 'last_name': 'Glover'}

To modify the dict, use the **update** method.  The '+' operand does not work on dicts.  You can also combine two dictionaries.

In [53]:
robert.update({ "job": "Database and Applications Support Engineer", "editor": "VS Code" })
robert

{'first_name': 'Robert',
 'job': 'Database and Applications Support Engineer',
 'last_name': 'Glover',
 'editor': 'VS Code'}

In [54]:
robert["editor"] = "Atom"
robert

{'first_name': 'Robert',
 'job': 'Database and Applications Support Engineer',
 'last_name': 'Glover',
 'editor': 'Atom'}

Remove a key with **del**:

In [55]:
del robert["job"]
robert

{'first_name': 'Robert', 'last_name': 'Glover', 'editor': 'Atom'}

#### Quiz

In [56]:
player = { "weapons": { "sword": True, "bow": False, "stock": True }}
player["weapons"]["sword"]

True

In [57]:
test_dict = {"a": 1, "b": 2, "a": 3}
test_dict["a"]

3

In [58]:
test_dict

{'a': 3, 'b': 2}

* Types of data used for keys: strings, numbers, tuples
* Set or change several keys or values at once via **.update()** method.
* Dictionary keys do NOT have an order.
* Remove key from dictionary: **del**

### Packing and Unpacking Dictionaries

Pack/unpack: compress/expand variables.

* Packing: take multiple inputs like multiple values and combine into a single variable.  Each value is still represented in the final variable so this isn't like adding two numbers together.
* Unpacking: opposite action; takes the values in a variable and makes a bunch of new variables from it.

In [59]:
def packer(**kwargs):
    print(kwargs)

In [60]:
packer(name="Robert", age=55, spanish_inquisition=None)

{'name': 'Robert', 'age': 55, 'spanish_inquisition': None}

Double asterisk (**): python packs argments into a dict.

    **kwargs: key word argements

In [61]:
def packer2(name=None, **kwargs):
    print(kwargs)

In [62]:
packer2(name="Robert", age=55, spanish_inquisition=None)

{'age': 55, 'spanish_inquisition': None}

In [63]:
def unpacker(first_name=None, last_name=None):
    if first_name and last_name:
        print("Hi, {} {}!".format(first_name, last_name))
    else:
        pring("Hi, no name.")

In [64]:
unpacker(**{"last_name": "Glover", "first_name": "Robert"})

Hi, Robert Glover!

#### Code Challenge

Unpack in the argument to the function or in the body of the function itself in format.

In [65]:
def favorite_food(dict):
    return "Hi, I'm {name} and I love to eat {food}!".format(**dict)

In [66]:
ff = favorite_food({"name": "Robert", "food": "pizza"})
print(ff)

Hi, I'm Robert and I love to eat pizza!

### Dictionary Iteration

Dictionaries don't have a consistent order.  You may set your keys in a specific order, but they won't necessarily come back out in that same order.

In [67]:
course_minutes = { "Python": 232, "Django": 237, "Flask": 189, "Java": 133 }
course_minutes

{'Python': 232, 'Django': 237, 'Flask': 189, 'Java': 133}

In [68]:
for course in course_minutes:
    print(course)

Python
Django
Flask
Java

In [69]:
for course in course_minutes:
    print(course_minutes[course])

232
237
189
133

The **keys()** method gives back a data type that is just the keys of a dict; not a list, but similar; optimized for dicts with a large number of keys.

In [70]:
for key in course_minutes.keys():
    print(key)

Python
Django
Flask
Java

The **values()** method gives back a data type that is just the values of a dict.

In [71]:
for value in course_minutes.values():
    print(value)

232
237
189
133

The **items()** method returns a tuple; similar to a list.

In [72]:
for item in course_minutes.items():
    print(item)

('Python', 232)
('Django', 237)
('Flask', 189)
('Java', 133)

You can't slice dicts, because they don't have an order or index.

#### Code Challenge

In [73]:
def word_count(str1):
    str1 = str1.lower()
    words = str1.split()
    sentence = {}
    for word in words:
        try:
            val = sentence[word]
        except KeyError:
            val = 0
        sentence[word] = val + 1
    return sentence

In [74]:
word_cnt = word_count("I do not like it Sam I Am")
word_cnt

{'i': 2, 'do': 1, 'not': 1, 'like': 1, 'it': 1, 'sam': 1, 'am': 1}

#### Code Challenge

In [75]:
teachers = {
    'Andrew Chalkley': ['jQuery Basics', 'Node.js Basics'],
    'Colleen Glover': ['C#', 'HTML', 'CSS', 'Python'],
    'Kenneth Love': ['Python Basics', 'Python Collections'],
    'Robert Glover': ['C#', 'HTML', 'CSS']
}

In [76]:
def num_teachers(teachers):
    count = 0
    for teacher in teachers:
        count += 1
    return count

In [77]:
teach_count = num_teachers(teachers)
teach_count

4

In [78]:
def num_courses(teachers):
    count = 0
    for courses in teachers.values():
        for course in courses:
            count += 1
    return count

In [79]:
course_count = num_courses(teachers)
course_count

11

In [80]:
def courses(teachers):
    clist = []
    for courses in teachers.values():
        for course in courses:
            clist.append(course)
    return clist

In [81]:
course_list = courses(teachers)
course_list

['jQuery Basics',
 'Node.js Basics',
 'C#',
 'HTML',
 'CSS',
 'Python',
 'Python Basics',
 'Python Collections',
 'C#',
 'HTML',
 'CSS']

In [82]:
def most_courses(teachers):
    max_count = 0
    
    for teacher in teachers:
        count = len(teachers[teacher]) 
        if count > max_count:
            max_count = count
            teach = teacher
    return teach

In [83]:
course_most = most_courses(teachers)
course_most

'Colleen Glover'

In [84]:
def stats(teachers):
    teacher_list = []
    for teacher in teachers:
        count = len(teachers[teacher])
        teacher_list.append([teacher, count])
    return teacher_list

In [85]:
teach_cnt = stats(teachers)
teach_cnt

[['Andrew Chalkley', 2],
 ['Colleen Glover', 4],
 ['Kenneth Love', 2],
 ['Robert Glover', 3]]

## Tuples

### Introduction

Tuples: like lists, have indices, but are immutable.

* Lists: brackets and commas, [,]
* Dictionaries: curly braces and commas, {,}
* Stings: quotation marks, "", ''
* Tuples: commas, (,); usually, people use parentheses and commas, (,), but the parentheses aren't necessary

In [86]:
my_tuple = (1, 2, 3, 4)
my_tuple

(1, 2, 3, 4)

In [87]:
my_second_tuple = 1, 2, 3, 4
my_second_tuple

(1, 2, 3, 4)

In [88]:
my_third_tuple = 5,
my_third_tuple

(5,)

Use the key word **tuple** to convert an object to a tuple.

In [89]:
my_fourth_tuple = tuple([1, 2, 3])
my_fourth_tuple

(1, 2, 3)

You can't assign a value to an existing tuple.  This won't work:

In [90]:
# my_tuple[0] = 5
# my_tuple[0] += 2

We don't have as many ways to change tuples as lists:

In [91]:
dir (my_tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [92]:
tuple_with_a_list = (1, "apple", [3, 4, 5])
tuple_with_a_list

(1, 'apple', [3, 4, 5])

In [93]:
tuple_with_a_list[2][1] = 7
tuple_with_a_list

(1, 'apple', [3, 7, 5])

### Tuple Swapping

Tuples have packing and unpacking too and it's similar to how dictionaries work but a bit more useful.

One of the biggest advantages of Tuples is that they have simultaneous assignment, which lets us swap values around or assign multiple values at once.

Why we would want to do that?  It lets us be more memory efficient and lazy.

In [94]:
a = 5
b = 20

In [95]:
a

5

In [96]:
b

20

In [97]:
a, b = b, a

In [98]:
a

20

In [99]:
b

5

In [100]:
c = b, a
c

(5, 20)

In [101]:
def add(*nums):
    total = 0
    for num in nums:
        total += num
    return total

In [102]:
add(5, 5)

10

In [103]:
add(32)

32

In [104]:
def add2(base, *args):
    total = base
    for num in args:
        total += num
    return total

In [105]:
add2(5, 20)

25

Args always comes before kwargs:
    
    def add(arg1, *args, **kwargs)

where:
* arg1: first normal argment
* *args: non-keyworded variable length argument list
* **kwargs: keyworded variable length argument list

One of the most common ways that tuples and their packing and unpacking powers are used is with functions and methods that return more than one value.

#### Code Challenge

In [106]:
def multiply(*args):
    total = 1
    for num in args:
        total *= num
    return total

In [107]:
multiply(2, 3, 4, 5, 6)

720

### Multiple Return Values

There's a really common design pattern in Python, whereby functions and methods return multiple values.

For example, the items method on dictionaries returned a tuple with the key and the value of each pair in the dictionary, but since we can unpack tuples into multiple variables, we can pretend that returned tuple doesn't even exist and go straight to having useful variables.

In [108]:
course_minutes

{'Python': 232, 'Django': 237, 'Flask': 189, 'Java': 133}

In [113]:
for course, minutes in course_minutes.items():
    print("{} is {} minutes long.".format(course, minutes))

Python is 232 minutes long.
Django is 237 minutes long.
Flask is 189 minutes long.
Java is 133 minutes long.

In [114]:
list(enumerate("abc"))

[(0, 'a'), (1, 'b'), (2, 'c')]

Enumerate takes an ordered iterable like a list or a string or a tuple, then it walks through that iterable and for each item in it gives us back a tuple of the current index and the value at that index.

In [115]:
for index, letter in enumerate("abcdefghijklmnopqrstuvwxyz"):
    print("{}: {}".format(index+1, letter))

1: a
2: b
3: c
4: d
5: e
6: f
7: g
8: h
9: i
10: j
11: k
12: l
13: m
14: n
15: o
16: p
17: q
18: r
19: s
20: t
21: u
22: v
23: w
24: x
25: y
26: z

#### Code Challenge

In [146]:
def stringcases(str):
    t1 = str.upper()
    t2 = str.lower()
    t3 = str.title()
    t4 = str[::-1]
        
    return (t1, t2, t3, t4)

In [147]:
stringcases("Colleen loves Pokemon a lot")

('COLLEEN LOVES POKEMON A LOT',
 'colleen loves pokemon a lot',
 'Colleen Loves Pokemon A Lot',
 'tol a nomekoP sevol neelloC')

In [180]:
def combo(iter1, iter2):
    list1 = []
    index = 0
    
    for it1 in iter1:
        tup = (it1, iter2[index])
        list1.append(tup)
        index += 1
    return list1

In [181]:
combo([1, 2, 3], 'abc')

[(1, 'a'), (2, 'b'), (3, 'c')]

## Sets

### Basics

Set: iterable collections like lists and tuples, but each item is unique and the set has no indices.  Order doesn't matter.

Use set function or just surround the collection with curly braces.

In [183]:
set([1, 3, 5])

{1, 3, 5}

In [184]:
{1, 3, 5}

{1, 3, 5}

However, if you don't put any items in the curly braces, you get a dictionary.

In [185]:
type({})

dict

In [187]:
type(set())

set

Python sorts the sets in a way that makes sense to Python.

In [188]:
{1, 11, 13, 7, 5, 3}

{1, 3, 5, 7, 11, 13}

Add to set using the **add** method:

In [189]:
low_primes = {1, 3, 5, 7, 11, 13}

In [191]:
low_primes.add(17)
low_primes

{1, 3, 5, 7, 11, 13, 17}

Update sets using the **update** method.  You can add multiple sets!

In [192]:
low_primes.update({19, 23}, {2, 29})
low_primes

{1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29}

Remove from set using the **remove** method.  If the item doesn't exist, you'll get a **KeyError**.

In [195]:
low_primes.remove(19)
low_primes

{1, 2, 3, 5, 7, 11, 13, 17, 23, 29}

However, the **discard** method does not error at all:

In [196]:
low_primes.discard(19)
low_primes

{1, 2, 3, 5, 7, 11, 13, 17, 23, 29}

You can also **pop**:

In [197]:
while (low_primes):
    print(low_primes.pop())

1
2
3
5
7
11
13
17
23
29

#### Code Challenge

In [252]:
# songs = set()
songs = { 'Yesterday', 'Let It Be', 'Hey, Jude' }
songs.add("Treehouse Hula")
songs.update({'Python Two-Step', "Ruby Rhumba"}, {"My PDF Files"})
songs

{'Hey, Jude',
 'Let It Be',
 'My PDF Files',
 'Python Two-Step',
 'Ruby Rhumba',
 'Treehouse Hula',
 'Yesterday'}

### Set Math

Sets have lots of different operations.  Venn diagrams and sets are linked:

* Union (|): each item in both sets, but not multiple entries since sets are unique.
* Difference (-): every item in 1st set, but not 2nd.
* Symmetric Difference (^): every item unique to both sets.
* Intersection (&): new set of all items in both sets.

You can do all of these operations as methods or operators.

In [202]:
set1 = set(range(10))
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [203]:
set2 = {1, 2, 3, 5, 7, 11, 13, 17, 19, 23}
set2

{1, 2, 3, 5, 7, 11, 13, 17, 19, 23}

In [204]:
set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19, 23}

In [205]:
set1 | set2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19, 23}

In [206]:
set1.difference(set2)

{0, 4, 6, 8, 9}

In [207]:
set2.difference(set1)

{11, 13, 17, 19, 23}

In [208]:
set1 - set2

{0, 4, 6, 8, 9}

In [209]:
set2 - set1

{11, 13, 17, 19, 23}

In [210]:
set1 ^ set2

{0, 4, 6, 8, 9, 11, 13, 17, 19, 23}

In [211]:
set2 ^ set1

{0, 4, 6, 8, 9, 11, 13, 17, 19, 23}

In [212]:
set2.symmetric_difference(set1)

{0, 4, 6, 8, 9, 11, 13, 17, 19, 23}

In [213]:
set1.intersection(set2)

{1, 2, 3, 5, 7}

In [214]:
set1 & set2

{1, 2, 3, 5, 7}

#### Code Challenge

In [220]:
COURSES = {
    "Python Basics": {"Python", "functions", "variables",
                      "booleans", "integers", "floats",
                      "arrays", "strings", "exceptions",
                      "conditions", "input", "loops"},
    "Java Basics": {"Java", "strings", "variables",
                    "input", "exceptions", "integers",
                    "booleans", "loops"},
    "PHP Basics": {"PHP", "variables", "conditions",
                   "integers", "floats", "strings",
                   "booleans", "HTML"},
    "Ruby Basics": {"Ruby", "strings", "floats",
                    "integers", "conditions",
                    "functions", "input"}
}
COURSES

{'Python Basics': {'Python',
  'arrays',
  'booleans',
  'conditions',
  'exceptions',
  'floats',
  'functions',
  'input',
  'integers',
  'loops',
  'strings',
  'variables'},
 'Java Basics': {'Java',
  'booleans',
  'exceptions',
  'input',
  'integers',
  'loops',
  'strings',
  'variables'},
 'PHP Basics': {'HTML',
  'PHP',
  'booleans',
  'conditions',
  'floats',
  'integers',
  'strings',
  'variables'},
 'Ruby Basics': {'Ruby',
  'conditions',
  'floats',
  'functions',
  'input',
  'integers',
  'strings'}}

In [289]:
def covers(my_topics):
    all_courses = []
    for course, topics in COURSES.items():
        if topics.intersection(my_topics) != set():
            all_courses.append(course)
    return(all_courses)

In [290]:
covers({"Python"})

['Python Basics', 'Java Basics', 'PHP Basics', 'Ruby Basics']

In [303]:
def covers_all(my_topics):
    all_courses = []
    len1 = len(my_topics)
    
    for course, topics in COURSES.items():
        if len(topics.intersection(my_topics)) == 2:
            all_courses.append(course)
    return(all_courses)

In [304]:
covers_all({"conditions", "input"})

['Python Basics', 'Ruby Basics']

#### Quiz

* Sets are mutable.
* Use the **add()** method to put a new value into a set.
* set("oklahoma") & set("ohio") = ['h', 'o']
* Symmetric difference (^): find all items unique to either set (both sets)

In [306]:
set([99, 89, 75, 63]).difference(set([99, 75, 63]))

{89}

In [308]:
set([99, 89, 75, 63]) - set([99, 75, 63])

{89}

## Dungeon Game

#### Code Challenge

In [6]:
import random

In [7]:
def get_locations(cells):
    return random.sample(cells, 3)

In [8]:
get_locations([1, 2, 3, 4, 5, 6])

[1, 6, 5]

#### Code Challenge

In [23]:
def move(player, direction):
    x, y, hp = player
    xmove, ymove = direction

    xpos = x + xmove
    ypos = y + ymove
    
    if xpos < 0 or xpos > 9:
        hp -= 5
    else:
        x = xpos

    if ypos < 0 or ypos > 9:
        hp -= 5
    else:
        y = ypos
    
    return x, y, hp

In [17]:
# move((1, 1, 10), (-1, 0)) => (0, 1, 10)
# move((0, 1, 10), (-1, 0)) => (0, 1, 5)
# move((0, 9, 5), (0, 1)) => (0, 9, 0)

In [20]:
move((1, 1, 10), (-1, 0))

0
1

(0, 1, 10)

In [21]:
move((0, 1, 10), (-1, 0))

-1
1

(0, 1, 5)

In [22]:
move((0, 9, 5), (0, 1))

0
10

(0, 9, 0)

#### Code Challenge

In [24]:
TILES = ('-', ' ', '-', ' ', '-', '||',
         '_', '|', '_', '|', '_', '|', '||',
         '&', ' ', '_', ' ', '||',
         ' ', ' ', ' ', '^', ' ', '||'
)

In [38]:
output = ""
outputchar = "{}"

for tile in TILES:
    if tile == '||':
        line_end = "\n"
        output = outputchar.format("\n")
    else:
        line_end = ""
        output = outputchar.format(tile)
    print(output, end=line_end)

- - -

_|_|_|

& _

   ^

#### Quiz

* Unpack a dictionary when calling a function to be able to prepare the values elsewhere beforehand.
* You can't sort a tuple, so **a_tuple.sort()** returns an "AttributeError"
    * Lists have a sort method.
* Tuples are immutable.
* The **items()** method gives a list of (key, value) tuples from a dictionary.

In [40]:
a_tuple = (5, 4, 18, 92, 6)
a_tuple

(5, 4, 18, 92, 6)

In [42]:
# a_tuple.sort()